<a href="https://colab.research.google.com/github/brynnyoung/TEDA1040_BY/blob/main/Module_6_Practice_BY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1
How many columns does the laptops dataset have?

## Question 2
How many columns have at least one null value?

In [ ]:
import pandas as pd
df = pd.read_csv('laptops.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1189 non-null   object
 1   TypeName           1322 non-null   object
 2   Inches             1322 non-null   float64
 3   screen_resolution  930 non-null    object
 4   has_ips_panel      1322 non-null   int64
 5   is_touchscreen     1322 non-null   int64
 6   resolution_width   1216 non-null   float64
 7   resolution_height  1322 non-null   int64
 8   cpu_brand          1322 non-null   object
 9   cpu_name           1322 non-null   object
 10  cpu_speed          1322 non-null   float64
 11  Ram                1243 non-null   float64
 12  memory_type        390 non-null    object
 13  primary_storage    1322 non-null   int64
 14  gpu_brand          1322 non-null   object
 15  gpu_name           1322 non-null   object
 16  OpSys              1133 non-null   object
 17  Weight             1249 non-null   float64
 18  Price              1322 non-null   int64
 19  total_pixels       1322 non-null   int64
dtypes: float64(5), int64(6), object(9)
memory usage: 206.7+ KB

## Question 3
Drop all rows that contain a null value in at least one column. How many rows are left?

In [ ]:
df_nona = df.dropna()
df_nona.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 9 to 1314
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            193 non-null    object
 1   TypeName           193 non-null    object
 2   Inches             193 non-null    float64
 3   screen_resolution  193 non-null    object
 4   has_ips_panel      193 non-null    int64
 5   is_touchscreen     193 non-null    int64
 6   resolution_width   193 non-null    float64
 7   resolution_height  193 non-null    int64
 8   cpu_brand          193 non-null    object
 9   cpu_name           193 non-null    object
 10  cpu_speed          193 non-null    float64
 11  Ram                193 non-null    float64
 12  memory_type        193 non-null    object
 13  primary_storage    193 non-null    int64
 14  gpu_brand          193 non-null    object
 15  gpu_name           193 non-null    object
 16  OpSys              193 non-null    object
 17  Weight             193 non-null    float64
 18  Price              193 non-null    int64
 19  total_pixels       193 non-null    int64
dtypes: float64(5), int64(6), object(9)
memory usage: 31.7+ KB

## Question 4
Which column in the original dataset has the most null values?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1189 non-null   object
 1   TypeName           1322 non-null   object
 2   Inches             1322 non-null   float64
 3   screen_resolution  930 non-null    object
 4   has_ips_panel      1322 non-null   int64
 5   is_touchscreen     1322 non-null   int64
 6   resolution_width   1216 non-null   float64
 7   resolution_height  1322 non-null   int64
 8   cpu_brand          1322 non-null   object
 9   cpu_name           1322 non-null   object
 10  cpu_speed          1322 non-null   float64
 11  Ram                1243 non-null   float64
 12  memory_type        390 non-null    object
 13  primary_storage    1322 non-null   int64
 14  gpu_brand          1322 non-null   object
 15  gpu_name           1322 non-null   object
 16  OpSys              1133 non-null   object
 17  Weight             1249 non-null   float64
 18  Price              1322 non-null   int64
 19  total_pixels       1322 non-null   int64
dtypes: float64(5), int64(6), object(9)
memory usage: 206.7+ KB

## Question 5
Compute descriptive statistics on all numerical columns in the data set. Which of the following issues stand out to you in terms of violating business logic rules?

If you aren't sure what the names of the columns mean, Google them (ie. "what is laptop Ram").

In [ ]:
df.describe()

,Inches,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_speed,Ram,primary_storage,Weight,Price,total_pixels
count,1322.000000,1322.000000,1322.000000,1216.000000,1322.000000,1322.000000,1243.000000,1322.000000,1249.000000,1.322000e+03,1.322000e+03
mean,15.122542,0.281392,0.146747,1074.299342,1895.639939,2.301664,9.198713,396.865356,2.078383,5.838318e+04,2.170972e+06
std,1.945084,0.449848,0.353988,286.711732,494.741031,0.507130,7.031441,419.775480,0.796887,5.045083e+04,1.393255e+06
min,10.100000,0.000000,0.000000,768.000000,1366.000000,0.900000,1.000000,-2048.000000,0.000000,-1.427900e+05,1.049088e+06
25%,14.000000,0.000000,0.000000,900.000000,1600.000000,2.000000,4.000000,256.000000,1.500000,3.118475e+04,1.440000e+06
50%,15.600000,0.000000,0.000000,1080.000000,1920.000000,2.500000,8.000000,256.000000,2.000000,5.109600e+04,2.073600e+06
75%,15.600000,1.000000,0.000000,1080.000000,1920.000000,2.700000,8.000000,512.000000,2.300000,7.863225e+04,2.073600e+06
max,35.600000,1.000000,1.000000,2160.000000,3840.000000,3.600000,80.000000,2048.000000,11.100000,1.016580e+06,8.294400e+06

## Question 6 & 7
Fix the business logic errors by changing all of the negative values in the columns identified above to positive values.

After performing the cleaning step above, what is the average amount of primary storage and Price in a laptop in the data set?

In [ ]:
df.loc[df['primary_storage'] < 0, 'primary_storage'] *= -1
df.loc[df['Price'] < 0, 'Price'] *= -1

In [ ]:
df['primary_storage'].describe()

count    1322.000000
mean      447.582451
std       365.172689
min         0.000000
25%       256.000000
50%       256.000000
75%       512.000000
max      2048.000000
Name: primary_storage, dtype: float64

In [ ]:
df['Price'].describe()

count    1.322000e+03
mean     6.101401e+04
std      4.723277e+04
min      9.271000e+03
25%      3.192700e+04
50%      5.216100e+04
75%      7.937350e+04
max      1.016580e+06
Name: Price, dtype: float64

## Question 8
Impute the missing values in the resolution width column by dividing the total pixels by the resolution height.

After performing the cleaning step above, what is the average resolution width of a laptop?

In [ ]:
df['resolution_width'] = df['resolution_width'].fillna(df['total_pixels'] / df['resolution_height'])
df['resolution_width'].describe()

count    1322.000000
mean     1071.428139
std       284.746319
min       768.000000
25%       900.000000
50%      1080.000000
75%      1080.000000
max      2160.000000
Name: resolution_width, dtype: float64

## Question 9
Note the number of null values in the memory_type column of the data set. Given that this column contains many null values and is relatively unimportant to the analysis, what do you recommend doing?

In [ ]:
df['memory_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1322 entries, 0 to 1321
Series name: memory_type
Non-Null Count  Dtype
--------------  -----
390 non-null    object
dtypes: object(1)
memory usage: 10.5+ KB

## Question 10
Perform the operation that you recommended above and attempt to drop all rows with null values again. If all rows with null values in any column were dropped, how many rows would be left?

In [ ]:
df2 = df.drop(columns=['memory_type'])

In [ ]:
df2_nona = df2.dropna()
df2_nona.info()

<class 'pandas.core.frame.DataFrame'>
Index: 717 entries, 9 to 1321
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            717 non-null    object
 1   TypeName           717 non-null    object
 2   Inches             717 non-null    float64
 3   screen_resolution  717 non-null    object
 4   has_ips_panel      717 non-null    int64
 5   is_touchscreen     717 non-null    int64
 6   resolution_width   717 non-null    float64
 7   resolution_height  717 non-null    int64
 8   cpu_brand          717 non-null    object
 9   cpu_name           717 non-null    object
 10  cpu_speed          717 non-null    float64
 11  Ram                717 non-null    float64
 12  primary_storage    717 non-null    int64
 13  gpu_brand          717 non-null    object
 14  gpu_name           717 non-null    object
 15  OpSys              717 non-null    object
 16  Weight             717 non-null    float64
 17  Price              717 non-null    int64
 18  total_pixels       717 non-null    int64
dtypes: float64(5), int64(6), object(8)
memory usage: 112.0+ KB

## Question 11
What kind of errors are in the Company column?

In [ ]:
df['Company'].unique()

array([nan, 'Apple', 'HP', 'acer', 'Acer', 'hp', 'Dell', 'apple',
       'Lenovo', 'Chuwi', 'Asus', 'dell', 'lenovo', 'asus', 'MSI',
       'microsoft', 'Microsoft', 'Toshiba', 'msi', 'toshiba', 'Huawei',
       'Xiaomi', 'Vero', 'Razer', 'mediacom', 'samsung', 'Google',
       'Mediacom', 'Fujitsu', 'LG', 'Samsung', 'razer'], dtype=object)

In [ ]:
df['Company'] = df['Company'].str.title()
df['Company'].value_counts()

Company
Dell         273
Lenovo       271
Hp           256
Asus         138
Acer          88
Msi           53
Toshiba       45
Apple         19
Samsung       10
Razer          6
Mediacom       6
Microsoft      4
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Huawei         2
Fujitsu        2
Lg             2
Name: count, dtype: int64

## Question 12
It's difficult to tell, but some of the laptops seem to have extremely high prices. Use the z-score method with a threshold of 3 to create a filter and determine which laptops are outliers in the data set in terms of price.

Using the outlier detection method from above, how many outliers exist in this data set according to price?

In [ ]:
avg_price = df['Price'].mean()
stdev_price = df['Price'].std()

In [ ]:
df['z-score'] = (df['Price'] - avg_price) / stdev_price
df.loc[df['z-score'] > 3]

,Company,TypeName,Inches,screen_resolution,has_ips_panel,is_touchscreen,resolution_width,resolution_height,cpu_brand,cpu_name,...,Ram,memory_type,primary_storage,gpu_brand,gpu_name,OpSys,Weight,Price,total_pixels,z-score
189,Razer,Gaming,17.3,4k Ultra HD,0,1,2160.0,3840,Intel,Core i7,...,32.0,NaN,1024,Nvidia,GeForce GTX 1080,windows,3.5,324955,8294400,5.588091
229,Asus,Gaming,17.3,Full HD,0,0,1080.0,1920,Intel,Core i7,...,32.0,NaN,512,Nvidia,GeForce GTX 1080,windows,4.7,207259,2073600,3.096261
595,NaN,Notebook,15.6,4k Ultra HD,1,0,2160.0,3840,Intel,Xeon E3-1535M,...,32.0,NaN,1024,Nvidia,Quadro M2200M,NaN,2.5,261019,8294400,4.234454
673,Hp,Workstation,17.3,Full HD,0,0,1080.0,1920,Intel,Core i7,...,8.0,NaN,500,Nvidia,Quadro M1200,windows,3.1,1016580,2073600,20.230998
727,Hp,Workstation,17.3,Full HD,1,0,1080.0,1920,Intel,Xeon E3-1535M,...,16.0,NaN,256,Nvidia,Quadro M2000M,windows,3.0,233846,2073600,3.659155
765,Dell,Gaming,15.6,Full HD,0,0,1080.0,1920,Intel,Core i5,...,8.0,NaN,256,Nvidia,GeForce GTX 1050,windows,2.6,524810,2073600,9.819370
806,Razer,Gaming,17.3,4k Ultra HD,0,1,2160.0,3840,Intel,Core i7,...,32.0,NaN,512,Nvidia,GeForce GTX 1080,windows,3.5,292987,8294400,4.911273
1036,NaN,Gaming,17.3,Full HD,1,0,1080.0,1920,Intel,Core i7,...,64.0,NaN,1024,Nvidia,GeForce GTX 980,NaN,3.6,211788,2073600,3.192148
1106,Hp,Workstation,17.3,Full HD,1,0,1080.0,1920,Intel,Core i7,...,8.0,SSD,256,Nvidia,Quadro M3000M,windows,3.0,210424,2073600,3.163270

## Question 13
Drop all duplicates from the data set using a subset of the columns Company, cpu_name, gpu_name, total_pixels, and Ram.

How many rows are left in the data set?

In [ ]:
df.drop_duplicates(subset=['Company', 'cpu_name', 'gpu_name', 'total_pixels', 'Ram'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 743 entries, 0 to 1321
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            646 non-null    object
 1   TypeName           743 non-null    object
 2   Inches             743 non-null    float64
 3   screen_resolution  503 non-null    object
 4   has_ips_panel      743 non-null    int64
 5   is_touchscreen     743 non-null    int64
 6   resolution_width   743 non-null    float64
 7   resolution_height  743 non-null    int64
 8   cpu_brand          743 non-null    object
 9   cpu_name           743 non-null    object
 10  cpu_speed          743 non-null    float64
 11  Ram                674 non-null    float64
 12  memory_type        231 non-null    object
 13  primary_storage    743 non-null    int64
 14  gpu_brand          743 non-null    object
 15  gpu_name           743 non-null    object
 16  OpSys              615 non-null    object
 17  Weight             705 non-null    float64
 18  Price              743 non-null    int64
 19  total_pixels       743 non-null    int64
 20  z-score            743 non-null    float64
dtypes: float64(6), int64(6), object(9)
memory usage: 127.7+ KB